body{
    margin: 0;
    padding: 0;  
    font-family: Arial, sans-serif;
    background-color: black;
}

h1{
    font-size: 36px;
    color:yellow;
    margin-top: 0;
}

p{
    font-size: 20px;
    line-height: 1.5;
    color: yellow
}
.container{
    width: 80%;
    margin: 0 auto;
    background-color:green;
    flex-direction:column;
    display: flex;
    /*height: 50%;*/
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px){ 
    h1{
        font-size: 20px;
    }
    p{
        font-size: 12px; 
    }
    .container{
        width: 90%;
        padding: 10px;
    }
    
}