.calculadora{
    position: fixed;
    top:50%;
    left:50%;
    
    background-color:rgb(170, 247, 5);
    transform: translate(-50%, -50%); 
    display:flex;
    flex-direction: column; 
    align-items: center;
    justify-content:center;
    font-size: 3rem;
    background-image: linear-gradient(rgb(109, 3, 83),rgb(136, 10, 121),rgb(225, 14, 145));
    border: 5px solid #181717;
    border-radius:4px;
    padding:20px;
}/*Fechamento calculadora*/

.tela{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size:3rem;
    width: 93%;
    height: 80px;
    margin-bottom: 20px;
    border: 3px solid #0f0e0e;
    padding: 10px;
    border-radius: 4px;
    background-color: #c5157f;
    color:rgb(213, 216, 215);

}/*Fechamento tela*/

.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
}/*Fechamento botao*/

.linha{
    display:flex;
    flex-direction:row;
    margin-bottom:10px;
}/*Fechamento linha*/

.operadores{
    background-color:#ad0f61;
    color:rgb(238, 184, 36);
    border: 1px solid;
}/*Fechamento operadores*/

.outros{
    background-color:#6b3d56;
    color: #000;
    border: 2px solid #f16d4f;
}/*Fechamento outros*/

button{
    font-size: 2rem;
    width: 70px;
    height: 70px;
    margin-right: 50;
    border: 1px solid #120a0e;
    border-radius: 4px;
    cursor: pointer;
}
    button:last_child{
        margin-right: 0;
    }

    button:hover{
        background-color:#111011;
        color:#f5eef2;

    }